@import url('https://fonts.googleapis.com/css?family=Lato:300');

.Ps-Bot {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 20px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Ps-Bot-Conversation-Input-Container {
    bottom: 300px;
    width: 98%;
    z-index: 1000;
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
}

.remy-input {
    position: fixed;
    bottom: 20px;
    color: #565867;
    background-color: #A7A5A5;
    resize: none; 
    width: 99%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-color: black;
    font-size: 14px;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-box-shadow: 6px -6px 34px 1px rgba(167,165,165,0.68);
    -moz-box-shadow: 6px -6px 34px 1px rgba(167,165,165,0.68);
    box-shadow: 6px -6px 34px 1px rgba(167,165,165,0.68);
}

.remy-input:focus {
    opacity: 0.65;
    outline: none;
}

@media (min-width: 1200px) {
    .remy-input {
        width: 100%;
    }
}

.Ps-Bot-Conversation-Human {
    background: #FFFFFF;
    border: 1px solid #D2D1D2;
    border-radius: 3px;
    float: right;
    text-align: right;
    line-height: 20px;
    width: 240px;
    /** Remove after confirmation **/
    padding-right: 10px;
    padding-left: 10px;
}

.Ps-Bot-Conversation-Bot {
    background: #FFFFFF;
    border: 1px solid #D2D1D2;
    border-radius: 3px;
    float: right;
    text-align: left;
    line-height: 20px;
    width: 240px;
    /** Remove after confirmation **/
    padding-right: 10px;
    padding-left: 10px;
}

/* #human-input {
    background: url('conversation-cursor.gif') no-repeat top left;
    margin-left: 92px;
    bottom: 7px;
    position: relative;
}

#human-input:focus {
    background: none;
    margin-left: 0px;
    bottom: 0px;
} */

.material-icons.md-36 { font-size: 42px; }