@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.Ps-Bot {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: 20px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Ps-Bot-Conversation-Input-Container {
    margin-top: 370px;
}

.Ps-Bot-Conversation-Input {
    width: 300px;
}

.Ps-Bot-Conversation-Human {
    background: #FFFFFF;
    border: 1px solid #D2D1D2;
    border-radius: 3px;
    float: right;
    text-align: right;
}

.Ps-Bot-Conversation-Bot {
    text-align: left;
}