@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px !important;
    height: 10px;
}

p {
    margin: 13px 1px 13px 1px !important;
    font-weight: lighter !important;
}

.ui.animated.button .visible.content {
    margin-right: 0px !important;
    padding-right: 10px !important;
}

.ui.animated.button {
    padding: 0 10px 0 10px !important;
    margin-right: 10px !important;
}

.powered-by-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  position: fixed;
  bottom: 2px;
  width: 100%;
}

.powered-by-grid-one {
  grid-column: 1;
  grid-row: 1;
}
.powered-by-grid-two {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
.powered-by-grid-three {
  grid-column: 3;
  grid-row: 1;
}